@import "config";
@import "footer";
@import "header";
@import "excellenc";

.apply-now {
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 9999999;
  cursor: pointer;
}

.owl-dots {
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 !important;
  display: flex;
  gap: 24px;
}
.owl-theme .owl-dots .owl-dot {
  span {
    background: #d6d6d6;
    width: 78px;
    height: 6px;
    border-radius: 50px;
    transition: all 0.5s;
  }
  &.active span,
  &:hover span {
    background: #ea0033;
  }
}

.vt-breadcrumb {
  padding-top: 36px;
  padding-bottom: 53px;
  display: flex;
  align-items: center;
  gap: 21px;
  color: #828282;
  font-family: PFBeauSansPro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

#s2 {
  p {
    &.title {
      color: #000;
      font-family: PFBeauSansPro;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  ul.tab {
    display: flex;
    align-items: center;
    gap: 17px;
    justify-content: flex-end;
    li {
      a {
        border-radius: 100px;
        border: 1px solid #a9a9a9;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 221px;
        height: 43px;
        color: #a9a9a9;
        text-align: center;
        font-family: Sarabun;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 175% */
        text-transform: uppercase;
        transition: all 0.5s;
        z-index: 2;
        position: relative;
        overflow: hidden;
        &::before {
          content: "";
          background: #ea0033;
          display: block;
          width: 0%;
          height: 100%;
          border-radius: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
          z-index: -1;
        }
        &:hover {
          border: 1px solid #ea0033;
          color: #fff;
          &::before {
            width: 102%;
            height: 120%;
          }
        }
      }
      svg {
        cursor: pointer;
      }
    }
  }
  .title-tab {
    position: relative;
    margin-bottom: 95px;
  }
  .excellence-desc{
    padding-top: 26px;
    p{
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      font-family: Sarabun;
    margin-bottom: 18px;
    }
    ul{
      padding-left: 78px;
      position: relative;
    margin-bottom: 80px;
      li{
        position: relative;
        margin-bottom: 15px;
        &::before{
          content: "";
          background: #EC1B35;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          top: 8px;
          left: -37px;
        }
      }
    }
  }
  .box-number {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 17px;
    &.box-number-1{
        display: grid;
        gap: 25px;
        margin-top: 15px;
    }
    .number {
      color: #ea0033;
      font-family: PFBeauSansPro;
      font-size: 61.028px;
      font-style: normal;
      font-weight: 700;
      line-height: 24.411px;
      position: relative;
      &::before {
        content: "";
        width: 62px;
        height: 62px;
        display: block;
        border-radius: 50%;
        background: #f5f5f5;
        position: absolute;
        z-index: -1;
        left: -26px;
        bottom: -19px;
      }
      &.number-1 {
        &::before {
          left: -20px;
        }
      }
    }
    .number-desc {
      color: #000;
      font-family: Sarabun;
      font-size: 19.136px;
      font-style: normal;
      font-weight: 700;
      max-width: 259px;
      line-height: 24.411px;
      display: block;
    }
  }
  .box-hocbong {
    padding: 86px 35px 0 35px;
    .box-text p {
      color: #000;
      font-family: Sarabun;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.871px;
      margin-bottom: 50px;
    }
  }
  .btn-apply {
    border-radius: 8px;
    background: #ea0033;
    color: #fff;
    text-align: center;
    font-family: PFBeauSansPro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 225px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      right: 26px;
      transform: translate(0, -50%);
    }
  }

  .box-popup {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    padding: 18px 15px 0 15px;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 9999999;
    min-width: 290px;
    div {
      border-bottom: 1px solid #767676ab;
      padding-bottom: 15px;
      p {
        &:nth-child(1) {
          color: #a9a9a9;
          font-family: PFBeauSansPro;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          margin-bottom: 7px;
        }
        &:nth-child(2) {
          font-family: PFBeauSansPro;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.4px;
          text-transform: uppercase;
        }
      }
    }
    ul {
      li {
        a {
          color: #a9a9a9;
          font-family: Sarabun;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 175% */
          text-transform: uppercase;
          padding: 19px 0;
          display: inline-block;
          border-bottom: 1px solid #a9a9a9;
          width: 100%;
        }
        &:last-child a {
          border-bottom: none;
        }
      }
    }
  }
}

#s3 {
  padding: 147px 0 97px 0;
  .title {
    display: flex;
    justify-content: center;
    width: 100%;
    p {
      min-width: 193px;
      color: #1a1a1a;
      text-align: center;
      font-family: PFBeauSansPro;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      padding: 0 18px;
      position: relative;
      top: -22px;
    }
    svg {
      width: calc((100% - 228px) / 2);
    }
  }

  .title-small {
    position: relative;
    padding: 50px 0 69px 0;
    text-align: center;
    p {
      color: #1a1a1a;
      font-family: Sarabun;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      max-width: 793px;
      display: inline-block;
      text-align: center;
      padding: 0 24px;
      z-index: 11111;
      position: relative;
      background: #fff;
    }
    &::before {
      content: "";
      background: #ea0033;
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 69px;
    }
  }

  .box-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    .card-1 {
      border-radius: 10px;
      background: #f5f5f5;
      padding: 27px 16px;
      .icon {
        margin-bottom: 27px;
        .line {
          width: 60px;
          height: 5px;
          display: block;
          margin-top: 15px;
          background: #ea0033;
        }
      }
    }
  }
}

#s4 {
  padding-bottom: 112px;
  .title-small {
    position: relative;
    padding: 0 78px;
    text-align: center;
    p {
      color: #1a1a1a;
      text-align: center;
      font-family: PFBeauSansPro;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      padding: 0 58px;
      z-index: 11111;
      position: relative;
      background: #fff;
      &::before {
        content: "";
        background: #ea0033;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      &::after {
        content: "";
        background: #ea0033;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    &::before {
      content: "";
      background: #ea0033;
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 23px;
    }
  }
  .box-responsibility {
    margin-top: 78px;
    display: flex;
    gap: 52px;
    align-items: start;
    .box-text {
      width: calc(100% - 164px);
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      padding: 39px 47px 9px 69px;
      position: relative;
      min-height: 333px;
      .before {
        display: inline-block;
        top: -1px;
        position: absolute;
        left: -36px;
        z-index: 1;
        background: #fff;
      }
      &.col-left {
        p {
          color: #1a1a1a;
          text-align: justify;
          font-family: Sarabun;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 21px;
        }
        ul {
          color: #1a1a1a;
          font-family: Sarabun;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          list-style: disc;
          padding-left: 30px;
          li {
            margin-bottom: 13px;
          }
        }
      }
      &.col-right {
        p {
          color: #1a1a1a;
          text-align: justify;
          font-family: Sarabun;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 13px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {

/* scholarship_excellence.css | http://127.0.0.1:5500/assets/css/scholarship_excellence.css */

#s2 ul.tab {
  flex-wrap: wrap;
  margin-top: 13px;
}

#s2 p.title {
  /* font-size: 46px; */
  font-size: 33px;
}

#s2 .box-popup ul li a {
  /* font-size: 16px; */
  font-size: 15px;
}

#s2 .title-tab {
  /* margin-bottom: 95px; */
  margin-bottom: 49px;
}

/* Trong dòng #4 | http://127.0.0.1:5500/excellence.html */

#s2 ul.tab li {
  width: 100%;
}

#s2 ul.tab li#showPopupExcellence {
  order: 1;
  text-align: right;
}

#s2 .box-img img {
  width: 100%;
}

#s2 ul.tab > li:nth-child(1) {
  order: 2;
}
#s2 ul.tab > li:nth-child(2) {
  order: 3;
}
#s2 ul.tab > li:nth-child(3) {
  order: 4;
}
.excellence-desc{
  padding: 0;
}


.vt-breadcrumb {
  gap: 11px;
  font-size: 14px;
  padding: 25px 15px;
}

#s2 .box-number {
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 11px;

}

#s2 .box-hocbong .box-text p {
  margin-bottom: 21px;
}

#s3 {
  padding: 60px 0 52px 0;
}

#s3 .title p {
  top: 0;
}

#s3 .title svg {
  opacity: 0;
}

#s3 .title-small {
  padding: 15px 0 45px 0;
}

#s3 .title-small p {
  font-size: 18px;
  padding: 0px 15px;
}

#s3 .box-card {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 15px;
}

#s4 .title-small p {
  padding: 0 23px;
}

#s4 .title-small {
  padding: 0;
}

#s4 .title-small p::before {
  left: 2px;
  opacity: 0;
}

#s4 .title-small p::after {
  opacity: 0;
}


#s4 .box-responsibility {
  margin-top: 43px;
  gap: 44px;
  flex-wrap: wrap;
}

#s4 .box-responsibility .box-text {
  width: 100%;
  padding: 20px;
}

#s4 .box-responsibility .box-text .before {
  opacity: 0;
}

#s4 .box-responsibility img {
  margin: 0 auto;
}
#s4 .responsibility {
 padding: 0;
}
.owl-dots {
  opacity: 0;
}

#s2 .excellence-desc ul {
  padding-left: 28px;
  margin-bottom: 44px;
}

#s2 .excellence-desc ul li::before {
  left: -22px;
}

}
@media only screen and (min-width: 834px) and (max-width: 1440px) {
}
